pypdf
setuptools==80.9.0
pymilvus==2.6.9
milvus-lite==2.5.1
sentence-transformers==2.7.0
torch==2.2.2
transformers==4.41.2
tqdm
python-dotenv
fastapi
uvicorn
pandas
numpy==1.26.4
requests
grpcio
orjson
protobuf
cachetools
accelerate==0.31.0
sentencepiece